/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}

.heroImage {
  height: 300px;
  width: 800px;
  object-fit: cover;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton {
  border-radius: 0px;
  padding-left: 4px;
  padding-right: 4px;
  width: 200px;
  --ifm-button-border-width: 0.4rem;
}

.heroButton:hover {
  --ifm-button-background-color: #485e58;
  --ifm-button-border-color: var(--ifm-button-background-color);
}

[data-theme="dark"] .heroButton:hover {
  --ifm-button-background-color: var(--ifm-color-primary-darkest);
  --ifm-button-border-color: var(--ifm-button-background-color);
}

.heroButtonSecondary {
  --ifm-button-border-color: #e535ab;
}

.heroButtonSecondary:hover {
  --ifm-button-background-color: #e535ab;
}

.frameworkLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.frameworkLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.frameworkLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroImage {
    padding: 0;
    height: auto;
    width: auto;
    object-fit: fill;
  }
  .buttons {
    flex-direction: column;
  }
  .heroButton {
    width: 80%;
    margin-top: 1rem;
  }
}
