version: 2
updates:
    - package-ecosystem: 'npm' # See documentation for possible values
      directory: '/' # Location of package manifests
      schedule:
          interval: 'weekly'
      rebase-strategy: 'auto'
      labels:
          - 'automerge'
          - 'dependencies'
      commit_message:
          prefix: "npm"
          include: "scope"

    - package-ecosystem: 'docker' # See documentation for possible values
      directory: '/tests/e2e/docker' # Location of package manifests
      schedule:
          interval: 'weekly'
      labels:
          - 'automerge'
          - 'dependencies'
      commit_message:
          prefix: "docker"
