.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem;
    justify-content: center;
  }
  .feature {
    text-align: center;
  }
}
