name: "Danger JS"
on: pull_request

env:
  HUSKY: 0

jobs:
  danger-js:
    name: Danger.js Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install modules
        run: bun ci

      - name: Danger
        run: bunx danger ci -b main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
