name: Linter

env:
  HUSKY: 0

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
    paths:
      - "packages/**/*"
      - "config/*"
      - "*.json"
      - ".github/workflows/linter.yml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install modules
        run: bun ci

      - name: Run TS Check
        run: bun ts:check

      - name: Run Prettier
        run: bun prettier

      - name: Run ESLint
        run: bun lint
