name: Linter

env:
  HUSKY: 0

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
    paths:
      - "packages/**/*"
      - "config/*"
      - "*.json"
      - ".github/workflows/linter.yml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Install modules
        run: npm ci

      - name: Run TS Check
        run: npm run ts:check

      - name: Run Prettier
        run: npm run prettier -- --check

      - name: Run ESLint
        run: npm run lint

      # Disable Knip as it is unstable in the CI environment
      # Uncomment the following lines to enable Knip when it is stable
      # - name: Run Knip
      #   run: |
      #     npm i -g oxc-resolver
      #     npm i -g knip
      #     npm run knip

      - name: Run Workspace dependencies check
        run: npm run check
