name: Mutation Test

env:
  HUSKY: 0
  STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
    paths:
      - "packages/**/src/**/*"
      - "packages/**/tests/**/*"
      - ".github/workflows/mutation.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mutation:
    name: Mutation tests package ${{matrix.package}}
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            "cli",
            "core",
            "diff",
            "docusaurus",
            "printer-legacy",
            "utils",
            "helpers",
            "logger",
            "graphql",
          ]

    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v6

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install modules
        run: bun ci

      - name: Build packages
        run: bun run build:all

      - name: Run Mutations Tests
        run: bun run --filter '@graphql-markdown/${{matrix.package}}' stryker --allowEmpty --reporters dashboard --dashboard.module ${{matrix.package}}
