name: Publish docs
run-name: >-
  ${{ github.event_name == 'workflow_dispatch' 
    && format('Publish docs from #{1} by @{0}', github.actor, github.ref_name) 
    || format('Publish docs release {0}', github.event.release.name)
  }}

on:
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: publish-docs
  cancel-in-progress: true

jobs:
  publish:
    name: Publish docs
    runs-on: ubuntu-latest

    steps:
      - name: Install Earthly
        uses: earthly/actions-setup@v1
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker login # to avoid dockerhub rate-limiting
        run: docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"

      - name: Setup git
        run: |
          git config --global user.name "GraphQL-Markdown bot"
          git config --global user.email "graphql-markdown-bot@edno.io"

      - name: Checkout project repo
        uses: actions/checkout@v6
        with:
          path: project
          token: ${{ secrets.BOT_PAT }}

      - name: Checkout website repo
        uses: actions/checkout@v6
        with:
          repository: graphql-markdown/graphql-markdown.github.io
          path: website
          token: ${{ secrets.BOT_PAT }}

      - name: Build docs
        run: |
          cd project
          earthly --build-arg VERSION=3 +build-docs

      - name: Push changes to website repo
        run: |
          cp -Rf project/build/** website/
          cd website
          git add --all
          git commit -am ":memo: update documentation ($GITHUB_SHA)"
          git push
