name: Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
    paths:
      - "packages/**/*"
      - "config/*"
      - "*.json"
      - ".github/workflows/test.yml"

jobs:
  test:
    name: Test ${{ matrix.package }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            "docusaurus",
            "core",
            "diff",
            "printer-legacy",
            "utils",
            "helpers",
            "logger",
            "graphql",
          ]

    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v4

      - name: Setup NodeJS LTS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Install modules
        run: npm ci

      - name: Run Unit Tests
        id: unit
        run: |
          npm run test:ci /unit/ -- --coverage --reporters="github-actions" --reporters="summary" --selectProjects @graphql-markdown/${{ matrix.package }}
          [ ! -d "./coverage/" ] && echo "skipped=1" >> "$GITHUB_OUTPUT" && exit 0
          mkdir -p packages/${{ matrix.package }}/.nyc_output/unit
          mv ./coverage/coverage-final.json packages/${{ matrix.package }}/.nyc_output/unit.json

      - name: Run Integration Tests
        id: integration
        run: |
          npm run test:ci /integration/ -- --coverage --reporters="github-actions" --reporters="summary" --selectProjects @graphql-markdown/${{ matrix.package }}
          [ ! -d "./coverage/" ] && echo "skipped=1" >> "$GITHUB_OUTPUT" && exit 0
          mkdir -p packages/${{ matrix.package }}/.nyc_output/integration
          mv ./coverage/coverage-final.json packages/${{ matrix.package }}/.nyc_output/integration.json

      - name: Check Code Coverage
        id: coverage
        if: ${{ !steps.unit.outputs.skipped && !steps.integration.outputs.skipped }}
        run: |
          [ ! -d "packages/${{ matrix.package }}/.nyc_output" ] && echo "skipped=1" >> "$GITHUB_OUTPUT" && exit 0
          cd packages/${{ matrix.package }}
          npx -y --quiet nyc merge .nyc_output .nyc_output/coverage.json
          npx -y --quiet nyc report --reporter=lcov --reporter=text --temp-dir .nyc_output
          cd ../..

      - name: Coveralls
        id: coveralls
        if: ${{ success() && steps.coverage.outputs.skipped }}
        continue-on-error: true
        uses: coverallsapp/github-action@v2.2.3
        with:
          parallel: true
          flag-name: package-${{ matrix.package }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./packages/${{ matrix.package }}/coverage/lcov.info
          base-path: ./packages/${{ matrix.package }}

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true
          limit-access-to-actor: false

      - name: SonarCloud Scan
        id: sonarcloud
        uses: SonarSource/sonarcloud-github-action@v2.1.1
        with:
          args: >
            -X
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  coverage:
    name: Report coverage
    runs-on: ubuntu-latest
    needs: test
    if: ${{ !cancelled() }}
    steps:
      - name: Coveralls
        continue-on-error: true
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Mock Build
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: Install modules
        run: npm ci

      - name: TS Build
        run: npm run build
